<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragment :: head('Create A Posts')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<form action="/posts/create" method="post">
	<label for="title">Post Title:</label>
	<br>
	<input type="text" id="title" name="title">
	<br><br>
	<label for="body">Post Content</label>
	<br>
	<textarea rows="4" cols="50" id="body" name="body"></textarea>
	<br><br>
	<input type="submit" value="Submit">
</form>
</body>
</html>
