<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragment :: head('Create A Posts')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
	<label for="title">Post Title:</label>
	<br>
	<input type="text" id="title" name="title" th:field="*{title}">
	<br><br>
	<label for="body">Post Content</label>
	<br>
	<textarea rows="4" cols="50" id="body" name="body" th:field="*{body}"></textarea>
	<br><br>
	<input type="submit" value="Submit">
</form>
<div th:replace="partials/fragment :: footer"></div>
</body>
</html>