<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragment :: head('Create A Posts')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<form action="/posts/create" method="post">
	<label for="title">Post Title:</label>
	<br>
	<input type="text" id="title" name="title">
	<br><br>
	<label for="body">Post Content</label>
	<br>
	<textarea rows="4" cols="50" id="body" name="body"></textarea>
	<br>
	<label for="user">Select User</label>
	<select name="user" id="user">
		<option th:each="user: ${users}" th:text="${user.getUsername()}" th:value="${user.getId()}"></option>
	</select>
	<br><br>
	<input type="submit" value="Submit">
</form>
<div th:replace="partials/fragment :: footer"></div>
</body>
</html>
