<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragment :: head('Viewing All Posts')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
	<main class="container">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 th:text="${singlePost.getTitle()}" class="card-title"></h5>
				<p th:text="${singlePost.getBody()}" class="card-text"></p>
				<p>Contact Information:
					<span th:text="${singlePost.user.getEmail()}" class="card-text"></span>
				</p>
			</div>
		</div>
</main>
</body>
</html>
